templateRadio=(groupId, id, label) => `
<div id="${id}__mdc-form-field" class="mdc-form-field">
    <div id="${id}__mdc-radio" class="mdc-radio">
        <input class="mdc-radio__native-control" type="radio" id="${id}" name="${groupId}">
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
    </div>
    <label for="${id}" string-key="${label}"></label>
</div>
`