var templateSettings = `
<div class="settings">
    <div id="placeholder-setting__tts-enabled" class="setting"></div>
    <div id="placeholder-setting__autoplay-enabled" class="setting"></div>
    <div id="placeholder-setting__note-names" class="setting"></div>
    <div id="placeholder-setting__clef" class="setting"></div>
    <div id="placeholder-setting__order" class="setting"></div>
    <div id="placeholder-setting__octaves" class="setting"></div>
    <div id="placeholder-setting__minor_scale_shift" class="setting"></div>
    <div id="placeholder-setting__transposition" class="setting"></div>
    <div id="placeholder-setting__tempo" class="setting"></div>
    <div id="placeholder-setting__scale_types" class="setting"></div>
</div>
`